<DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"/>
</head>
<body>
    <div class="macbook-air-1">
        <img class="pexels-prakhar-bansal-230481-7-icon" alt="" src="../static/img/pexelsprakharbansal230481765108-1@2x.png"/>
        <div class="property-details">
            <div class="sub-details">
                <div class="title-box">
                    <div class="fine-flats">Fine Flats</div>
                </div>
            </div>
            <div class="property-info">
                <div class="info-labels">
                    <div class="location">Location:
                        <span>
                            <select id="location" required>
                                <option value="">Select Location</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="info-labels1">
                    <div class="area-sq-ft">Area sq_ft:
                        <span>
                            <input type="text" id="area" placeholder="Enter area required" required />
                        </span>
                    </div>
                </div>
                <div class="info-labels2">
                    <div class="bathrooms">Bathrooms:
                        <span>
                            <input type="text" id="bathrooms" placeholder="Enter number of bathrooms" required />
                        </span>
                    </div>
                </div>
                <div class="info-labels3">
                    <div class="bhk">BHK:
                        <span>
                            <input type="text" id="bhk" placeholder="Enter desired BHK" required />
                        </span>
                    </div>
                </div>
                <div class="calculator">
                    <div class="title-box1">
                        <div id="calculate-price" class="calculate-price">Calculate price</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="price">
            <div class="total-price-wrapper">
                <div class="total-price">Total price:</div>
            </div>
        </div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>





<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="macbook-air-1">
      <img
        class="pexels-prakhar-bansal-230481-7-icon"
        alt=""
        src="./public/pexelsprakharbansal230481765108-1@2x.png"/>

      <form class="property-details">
        <div class="sub-details">
          <button class="title-box">
            <div class="fine-flats">Fine Flats</div>
          </button>
        </div>

        <div class="property-info">

          <div class="info-labels">
            <div class="location">Location:
              <span>
                <input type="text" placeholder="Enter location">
              </span>
            </div>
          </div>

          <div class="info-labels1">
            <div class="area-sq-ft">Area sq_ft:
              <span>
                <input type="text" placeholder="Enter area required ">
              </span>
            </div>
          </div>
          <div class="info-labels2">
            <div class="bathrooms">Bathrooms:
              <span>
                <input type="text" placeholder="Enter number of bathrooms">
              </span>
            </div>
          </div>
          <div class="info-labels3">
            <div class="bhk">BHK:
              <span>
                <input type="text" placeholder="Enter desired BHK">
              </span>
            </div>
          </div>
          <div class="calculator">
            <button class="title-box1">
              <div class="calculate-price">Calculate price</div>
            </button>
          </div>
        </div>
      </form>
      <div class="price">
        <div class="total-price-wrapper">
          <div class="total-price">Total price:</div>
        </div>
      </div>
    </div>
  </body>
</html>
 -->
